::selection
  background:transparent

html
  font-size 50px
  font-family Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif

body
  padding 0
  margin 0
  background white
  min-width 300px
  font-size .24rem