::selection
  background $background
  color white

html
  font-size 50px
  font-family Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif

body
  padding 0
  margin 0
  background white
  min-width 300px
  font-size .24rem

.el-notification
  display flex
  align-items center
  width 180px
  padding .2rem
  // top 10px !important
  right 10px !important
  border none
  border-radius .1rem
  h2
    font-size .26rem
    color $background
  i
    height auto
    font-size .34rem

.el-notification__closeBtn
  top 11px
