// 全局工具类样式

common-horizen-border(deg)
	background-image linear-gradient(deg, #D9D9D9, #D9D9D9 50%, transparent 0)
	background-origin border-box
	background-size 120% 1px
	background-repeat no-repeat
	background-position bottom left

common-verticle-border(deg)
	background-image linear-gradient(deg, #D9D9D9, #D9D9D9 50%, transparent 0)
	background-origin border-box
	background-size 1px 120%
	background-repeat no-repeat
	background-position right top

common-border(deg)
	content ' '
	position absolute
	left 0
	width 100%
	height 1px
	background-position bottom left !important
	z-index 0
	common-horizen-border(deg)

common-border-vertivcle(deg)
	content ' '
	position absolute
	width 1px
	height 120%
	background-position right center !important
	z-index 0
	common-verticle-border(deg)

for $size in 0 5 10 15 16 20 24 30 35 40 50 60 80 100
	.u-mt{$size}
		margin-top $size * .01rem !important
	.u-mr{$size}
		margin-right $size * .01rem !important
	.u-mb{$size}
		margin-bottom $size * .01rem !important
	.u-ml{$size}
		margin-left $size * .01rem !important
	.u-pt{$size}
		padding-top $size * .01rem !important
	.u-pr{$size}
		padding-right $size * .01rem !important
	.u-pb{$size}
		padding-bottom $size * .01rem !important
	.u-pl{$size}
		padding-left $size * .01rem !important

for $size in -5 -10 -15 -16 -20 -30 -40 -50
	.u-mt{$size}
		margin-top $size * .01rem !important
	.u-mr{$size}
		margin-right $size * .01rem !important
	.u-mb{$size}
		margin-bottom $size * .01rem !important
	.u-ml{$size}
		margin-left $size * .01rem !important
	.u-pt{$size}
		padding-top $size * .01rem !important
	.u-pr{$size}
		padding-right $size * .01rem !important
	.u-pb{$size}
		padding-bottom $size * .01rem !important
	.u-pl{$size}
		padding-left $size * .01rem !important

// 宽度
for $size in 25 50 80 100 120 130 150 160 180 200 300 500
	.u-w{$size}
		width $size * .01rem !important

.u-w100_
	width 100%

.u-w50_
	width 50%

// 高度
for $size in 25 50 80 90 100 120 130 150 160 180 200 300 400 500
	.u-h{$size}
		height $size * .01rem !important

// 字体大小
for $size in 10 12 14 16 18 20 24 26 28 30 32 34 36 40
	.u-s{$size}
		font-size $size * .01rem !important

for $size in 10 11 12 13 14 15 20
	.u-lh{$size}
		line-height $size * .1 !important

.u-radius
	border-radius .05rem

.u-mtauto
	margin-top auto !important
.u-mrauto
	margin-right auto !important
.u-mbauto
	margin-bottom auto !important
.u-mlauto
	margin-left auto !important

.u-flex-1
	flex 1

.u-display-flex
	display flex
.u-direction-column
	flex-direction column !important
.u-align-start
	align-items flex-start !important
.u-align-end
	align-items flex-end !important
.u-align-center
	align-items center !important
.u-align-stretch
	align-items stretch !important
.u-align-baseline
	align-items baseline !important
.u-justify-start
	justify-content flex-start !important
.u-justify-end
	justify-content flex-end !important
.u-justify-center
	justify-content center !important
.u-justify-around
	justify-content space-around !important
.u-justify-between
	justify-content space-between !important

.u-text-center
	text-align center !important
.u-text-left
	text-align left !important
.u-text-right
	text-align right !important

.u-nowrap
	white-space nowrap !important

.u-disabled
	color $color-disabled

.u-delete
	color $font-color-gray
	text-decoration line-through

.u-bold
	font-weight bold

.u-hidden
	display none

.u-pointer
	cursor pointer

.u-highlight
	color $blue !important

.u-underline
	text-decoration underline !important

.u-red
	color $red !important

.u-green
	color $green !important

.u-gray
	color $gray !important

.u-bt
	position relative
	&:before
		top 0
		common-border(180deg)

.u-bb
	position relative
	&:after
		bottom 0
		common-border(360deg)

.u-bl
	position relative
	&:after
		left 0
		common-border-vertivcle(90deg)

.u-br
	position relative
	&:after
		right 0
		common-border-vertivcle(270deg)

._common-title
	font-size .28rem
	line-height .28rem
	padding-left .12rem
	position relative
	&:after
		position absolute
		content ' '
		height .28rem
		width .04rem
		background $color-danger
		left 0
		top 50%
		margin-top -.14rem
		border-radius .04rem

._common-bottom
	display flex
	width 100%
	justify-content center
	border none !important
	padding .2rem
	box-sizing border-box
	span
		font-size .24rem !important
		padding 0 .2rem
		text-align center
		color $color-disabled
	&.need-line
		position relative
		&:after
			common-border(360deg)
			top 50%
			z-index 1
			width 94%
			left 3%
		span
			position relative
			z-index 2
			background $color-bg

._common-list
	background white
	position relative
	padding-left .3rem !important
	> li
		display flex
		padding .25rem .3rem .25rem 0
		font-size .3rem
		line-height 1
		align-items center
		common-horizen-border(180deg)
		&:last-child
			background-image none !important
			&:after
				display none
	&.no-bt:before
		display none
	&.no-bb:after
		display none
	&:after
		bottom -1px
		common-border(360deg)

._common-tabbar
	.mint-tab-item
		padding .25rem 0
		border-bottom none !important
		text-decoration none
		.mint-tab-item-label
			font-size .3rem
		&.is-selected
			color $color-primary
			position relative
			text-align center
			display flex
			justify-content center
			font-family $font-family-default
			&:after
				position absolute
				bottom .08rem
				left 50%
				margin-left -.25rem
				content ' '
				background $color-primary
				height .04rem
				border-radius .04rem
				width .5rem

._common-sidebar
	color $font-color-second
	width 1.9rem
	li
		height 1.2rem
		display flex
		justify-content center
		align-items center
		font-size .26rem
		&.active
			border-right none
			border-left none
			background white
			position relative
			font-size .3rem
			color $font-color-dark
			&:after
				position absolute
				left 0
				top .45rem
				content ' '
				width .08rem
				height .3rem
				background $color-primary

._common-mask
	position fixed
	top 0
	left 0
	background rgba(0, 0, 0, .45)
	height 100vh
	width 100vw
	z-index 7
	animation fadeIn .3s

._common-dropdown
	position absolute
	top 1.28rem
	width 100vw
	margin 0
	background white
	z-index 8
	transform translateY(-100%)
	max-height 70vh
	overflow auto
	-webkit-overflow-scrolling touch
	li
		padding .2rem
		font-size .25rem
		text-align center
		&.active
			color $color-primary
			span
				position relative
				&:after
					font-family "iconfont" !important
					content '\e601'
					position absolute
					right -.35rem

._common-button
	border 1px solid $color-primary
	-webkit-apperance none
	padding .03rem .1rem
	font-size .24rem
	color $color-primary
	background white
	border-radius .05rem
	outline none
	line-height 1
	&:active
		background $color-primary
		color white
	&.disabled
		border-color $font-color-gray
		color $font-color-second
		&:active
			background $font-color-second

.platform-android ._common-button
	border-width 1px

._common-good-avatar
	display flex
	align-items center
	justify-content center
	width .8rem
	height .8rem
	box-sizing border-box
	word-wrap break-word
	font-size .24rem
	color $color-primary
	padding .1rem
	text-align center
	line-height 1.1
	background $color-third
	border-radius .05rem
	flex-shrink 0

._common-tag
	font-size .2rem
	line-height .3rem
	padding 0 .1rem
	height .3rem
	background #FEF3EB
	border-radius .05rem
	color #FF5E38
	flex-shrink 0
	white-space nowrap

._common-text
	width 50vw
	text-overflow ellipsis
	white-space nowrap
	overflow hidden
