::selection
  background:transparent

html
  font-size 50px

body
  padding 0
  margin 0
  font-family 'Source Sans Pro', sans-serif
  background white
  min-width 300px
  font-size .24rem

#app
  height 100vh
  display flex
  flex-direction column

.header
  display flex
  flex-direction column
  -webkit-app-region drag
  background linear-gradient(45deg, #0fbae5, #20b583)

.header__nav
  margin 0
  padding 0
  padding-bottom .1rem
  color $black
  display flex
  padding-top .05rem
  align-items flex-end
  height .5rem
  flex-shrink 0
  justify-content center
  li
    margin-left .5rem
    user-select none
    display flex
    text-align center
    color white
    cursor pointer
    font-size 14px
    transition all .3s
    &:first-child
      margin-left 0
    &.active
      font-size 18px
      position relative
      &:after
        position absolute
        content ' '
        height .05rem
        width 100%
        background white
        bottom -.1rem
    // &.active
    //   color $primary

.header__ctrl
  display flex
  height 25px
  align-items center
  padding 0 3px 0 8px
  -webkit-app-region drag
  flex-shrink 0
  span
    display inline-flex
    width 10px
    height 10px
    border-radius 100%
    font-size 14px
    text-align center
    line-height 10px
    cursor pointer
    &.close
      margin-right 8px
      color $red
      border 1px solid darken($red, 10)
      background $red
      &:hover
        color: darken($red, 50)
    &.minus
      color $yellow
      border 1px solid darken($yellow, 10)
      background $yellow
      &:hover
        color: darken($yellow, 50)
    &.login
      width .8rem
      margin-left auto
      justify-content center
      height .3rem
      line-height .35rem
      padding .05rem 0
      color white
      font-size .2rem
      border-radius .05rem
      cursor pointer
      &:hover
        background rgba(255, 255, 255, .3)

#app > .content
  flex 1
  position relative
  > div
    height 100%
    width 100vw
    background white
    box-sizing border-box

.slide-enter-active
	z-index 2
	min-height 100vh
	animation-fill-mode both
	animation-duration .3s
	&.left
		animation-name moveLeftIn
	&.right
		animation-name moveRightIn
.slide-leave-active
	z-index 1
	min-height 100vh
	animation-fill-mode both
	animation-duration .3s
	&.left
		animation moveLeftOut
	&.right
		animation moveRightOut

.slide-enter-active, .slide-leave-active
  position absolute
  top 0
  left 0
  width 100vw
  height 100%
  background white
	// opacity 0